<div class="header">
  <img src="/images/logo/logo.png" alt="Logo" height="50">
  <nav>
    <a href="/?lang=<%= getLocale() %>"><%= __('home') %></a>
    <a href="/api-docs"><%= __('api_docs') %></a>
    <a href="/?venta=true&lang=<%= getLocale() %>"><%= __('sale_items') %></a>
    <a href="/?venta=false&lang=<%= getLocale() %>"><%= __('search_items') %></a>
  </nav>
  <form method="get" action="/" class="form-inline">
    <select name="lang" onchange="this.form.submit()">
      <option value="es" <%= getLocale() === 'es' ? 'selected' : '' %>>Español</option>
      <option value="en" <%= getLocale() === 'en' ? 'selected' : '' %>>English</option>
    </select>
  </form>
</div>
